<html>
	<head>
		<script id="angularScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

		<script type="text/javascript">
			var app = angular.module('App', [])

			app.service('testService', function(){
				this.random = function(a){
					ranObj = {
						0:{
							email: Math.random()+a
						},
						1:{
							email: Math.random()
						},
						2:{
							email: Math.random()+a
						}
					}

					return ranObj;
				};
			});

			app.controller('testCtrl', function($scope, testService){
				$scope.test = {
					0:{
						email: 'yo@this.com'
					},
					1:{
						email: 'that@this.net'
					}
				}

				$scope.testFunction = function(){
					$scope.test = testService.random('tail');
				}
			});
		</script>
	</head>
	<body ng-app="App">
		<div ng-controller='testCtrl'>
			<div ng-repeat="val in test">
				<a href=# ng-click="testFunction()">{{ val.email }}</a>
			</div>
		</div>
	</body>
</html>